@charset "UTF-8";
/*multi-line comments*/
/*
descendant selector (space) – all children of this parent
child selector (>) – only direct children of this parent
adjacent sibling selector (+)
general sibling selector (~)
All the same rules apply in scss:
h2 {
  + p {}
} */
body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(243, 241, 235);
  color: rgb(38, 31, 21);
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(180deg, rgb(243, 241, 235), rgb(233, 227, 217));
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  cursor: pointer;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
a.tint1 {
  color: rgb(210, 81, 0);
}
a.tint2 {
  color: rgb(50, 125, 72);
}
a.tint3 {
  color: rgb(61, 83, 168);
}
a.tint4 {
  color: rgb(129, 72, 166);
}
a.primary {
  color: rgb(38, 31, 21);
}

header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(243, 241, 235);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
  padding: 16px 32px;
}
header img {
  width: 36px;
}
header nav {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}
header nav ul {
  padding: 0;
  display: flex;
  justify-content: end;
}
header nav ul li {
  list-style: none;
  padding: 8px;
}
header nav ul a {
  text-decoration: none;
  color: rgb(38, 31, 21);
}
header nav ul a:hover {
  color: rgb(210, 81, 0);
}

li {
  list-style: inside;
  padding: 2px;
}

button {
  display: inline-block;
  padding: 16px 32px;
  margin: 8px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}
button.primary {
  background-color: rgb(255, 98, 0);
  color: white;
}
button.primary:hover {
  background-color: #e65800;
}
button.secondary {
  background-color: rgb(255, 192, 152);
  color: rgb(210, 81, 0);
}
button.secondary:hover {
  background-color: #ffb07f;
}

.code {
  padding: 0 4px 1px 4px;
  border-radius: 2px;
}
.code.tint1 {
  background-color: rgb(255, 192, 152);
  color: rgb(210, 81, 0);
}
.code.tint2 {
  background-color: rgb(204, 224, 210);
  color: rgb(50, 125, 72);
}
.code.tint3 {
  background-color: rgb(178, 190, 241);
  color: rgb(61, 83, 168);
}
.code.tint4 {
  background-color: rgb(215, 188, 233);
  color: rgb(129, 72, 166);
}

footer {
  padding: 32px 0;
}
footer ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
footer li {
  width: 32px;
  list-style: none;
}
footer img {
  width: 100%;
}

form p {
  margin: 0 0 24px 0;
  color: rgb(138, 135, 130);
}

input {
  display: inline-block;
  padding: 0 16px;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid rgb(213, 212, 212);
  font-family: Lato, sans-serif;
  font-size: 1rem;
}
input:focus {
  border-color: transparent;
  outline: 2px solid rgb(61, 83, 168);
}

/*--color-grey-900: rgb(3, 3, 3);
color: var(--color-grey-900); – that is how css variables are defined*/
body {
  height: 100vh;
}

#cards-container {
  display: flex;
  width: 90%;
  margin: 1rem auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  width: 3rem;
  margin: 10px auto;
  color: rgb(61, 83, 168);
}

.card {
  flex: 1 1;
  min-width: 320px;
  border-radius: 4px;
  margin: 1rem;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
  transition: transform 0.3s ease-in 0.1s;
}
.card:hover {
  transform: scale(1.05);
}
.card h2 {
  font-family: "Sanchez", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 3rem 3rem 1rem 3rem;
  transition: color 0.2s ease-out;
}
.card h2:hover {
  color: rgb(61, 83, 168);
}

.card-info {
  margin: 0;
  padding: 0 3rem 2rem 3rem;
}

.price {
  font-family: "Sanchez", sans-serif;
  font-size: 2.5rem;
  color: rgb(210, 81, 0);
  background-color: rgb(255, 192, 152);
  box-shadow: 0 5px 10px rgba(254, 106, 0, 0.2);
  padding: 1.5rem 3rem;
  margin: 0;
}

.price-info {
  color: rgb(138, 135, 130);
  margin: 0;
  padding: 1rem 3rem;
  font-size: 0.8rem;
}

.button-container {
  margin: 0;
  padding: 1rem 3rem 3rem 3rem;
}
.button-container button {
  padding: 24px 40px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}
.button-container button:hover {
  background-color: rgb(100, 122, 208);
}/*# sourceMappingURL=beautiful.css.map */