<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>Page nor found</h1>
      <p>
        Sadly, we couldn't find such a page
      </p>
    </main>
  </body>
</html>