<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>
  <body>
    <%- include('includes/header') %>
    <%- include('includes/aside') %>
    <main>
      <h1>Something went wrong</h1>
      <p>
        Server is not working. <br> We are trying to fix it
      </p>
    </main>
  </body>
</html>