@charset "UTF-8";
/*multi-line comments*/
/*
descendant selector (space) – all children of this parent
child selector (>) – only direct children of this parent
adjacent sibling selector (+)
general sibling selector (~)
All the same rules apply in scss:
h2 {
  + p {}
} */
body {
  margin: 0;
  min-height: 100vh;
  background-color: rgb(243, 241, 235);
  color: rgb(38, 31, 21);
  font-family: Lato, sans-serif;
  font-size: 1rem;
  text-align: center;
  background: linear-gradient(180deg, rgb(243, 241, 235), rgb(233, 227, 217));
}

h1 {
  font-size: 2.6rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

a {
  cursor: pointer;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
a.tint1 {
  color: rgb(210, 81, 0);
}
a.tint2 {
  color: rgb(50, 125, 72);
}
a.tint3 {
  color: rgb(61, 83, 168);
}
a.tint4 {
  color: rgb(129, 72, 166);
}
a.primary {
  color: rgb(38, 31, 21);
}

header {
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(243, 241, 235);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
  padding: 16px 32px;
}
header img {
  width: 36px;
}
header nav {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 2px;
}
header nav ul {
  padding: 0;
  display: flex;
  justify-content: end;
}
header nav ul li {
  list-style: none;
  padding: 8px;
}
header nav ul a {
  text-decoration: none;
  color: rgb(38, 31, 21);
}
header nav ul a:hover {
  color: rgb(210, 81, 0);
}

li {
  list-style: inside;
  padding: 2px;
}

button {
  display: inline-block;
  padding: 16px 32px;
  margin: 8px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
}
button.primary {
  background-color: rgb(255, 98, 0);
  color: white;
}
button.primary:hover {
  background-color: #e65800;
}
button.secondary {
  background-color: rgb(255, 192, 152);
  color: rgb(210, 81, 0);
}
button.secondary:hover {
  background-color: #ffb07f;
}

.code {
  padding: 0 4px 1px 4px;
  border-radius: 2px;
}
.code.tint1 {
  background-color: rgb(255, 192, 152);
  color: rgb(210, 81, 0);
}
.code.tint2 {
  background-color: rgb(204, 224, 210);
  color: rgb(50, 125, 72);
}
.code.tint3 {
  background-color: rgb(178, 190, 241);
  color: rgb(61, 83, 168);
}
.code.tint4 {
  background-color: rgb(215, 188, 233);
  color: rgb(129, 72, 166);
}

footer {
  padding: 32px 0;
}
footer ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
}
footer li {
  width: 32px;
  list-style: none;
}
footer img {
  width: 100%;
}

form p {
  margin: 0 0 24px 0;
  color: rgb(138, 135, 130);
}

input {
  display: inline-block;
  padding: 0 16px;
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  margin: 8px 0;
  border-radius: 8px;
  border: 1px solid rgb(213, 212, 212);
  font-family: Lato, sans-serif;
  font-size: 1rem;
}
input:focus {
  border-color: transparent;
  outline: 2px solid rgb(61, 83, 168);
}

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  box-sizing: border-box;
  display: none;
}
@media (min-width: 800px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

#modal-inner input {
  margin: 0.2rem 0 1rem 0;
}
#modal-inner button {
  margin-left: 0;
}
#modal-inner h2 {
  margin: 0 0 1rem 0;
  padding: 0;
}

.cardish {
  text-align: left;
  background-color: white;
  padding: 24px;
  margin: 24px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
}

#configuration {
  width: 90%;
  margin: 0 auto;
}
#configuration ol {
  display: flex;
  padding: 0;
}
#configuration p {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}
#configuration h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(138, 135, 130);
  margin: 0;
}
#configuration h3 {
  text-align: center;
  color: rgb(50, 125, 72);
  margin: 1rem 0;
}
#configuration li {
  list-style: none;
  width: 50%;
  text-align: center;
}

#game {
  text-align: center;
  width: 85%;
  margin: 24px auto;
  padding: 24px;
}
#game article {
  background-color: rgb(77, 145, 97);
  color: white;
  padding: 24px;
  border-radius: 4px;
  display: none;
}
#game article h3 {
  margin: 0;
}
#game article p {
  margin: 8px 0 0 0;
  color: rgba(255, 255, 255, 0.8);
}
#game p {
  font-size: 1.4rem;
  font-weight: bold;
}

#active-player-name {
  color: rgb(50, 125, 72);
}

#game-board {
  margin: 1rem auto;
  padding: 0;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  grid-template-rows: repeat(3, 6rem);
  gap: 0.5rem;
}
#game-board li {
  list-style: none;
  background-color: rgb(243, 241, 235);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
#game-board li:hover {
  background-color: rgb(204, 224, 210);
}
#game-board li.disabled {
  cursor: default;
  background-color: rgb(204, 224, 210);
  color: rgb(50, 125, 72);
}/*# sourceMappingURL=tic-tac-toe.css.map */