@import "../shared.scss";

#backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal {
  //set separately, ideally in separate css file
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  box-sizing: border-box;
  display: none;
  @media (min-width: 800px) {
    left: calc(
      50% - 20rem
    ); //middle of the screen, shifted to 20rem from middle
    width: 40rem; //minus 20rem to left plus 20 to the right, will be middle
  }
}

#modal-inner {
  & input {
    margin: 0.2rem 0 1rem 0;
  }
  & button {
    margin-left: 0;
  }
  & h2 {
    margin: 0 0 1rem 0;
    padding: 0;
  }
}

.cardish {
  text-align: left;
  background-color: white;
  padding: $size-m;
  margin: $size-m;
  box-sizing: border-box;
  box-shadow: $shadow;
  border-radius: $size-s;
}

#configuration {
  width: 90%;
  margin: 0 auto;
  & ol {
    display: flex;
    padding: 0;
  }
  & p {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
  }
  & h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    color: $text-secondary;
    margin: 0;
  }
  & h3 {
    text-align: center;
    color: $text-tint2;
    margin: 1rem 0;
  }
  & li {
    list-style: none;
    width: 50%;
    text-align: center;
  }
}

#game {
  text-align: center;
  width: 85%;
  margin: $size-m auto;
  padding: $size-m;
  //display: none;
  & article {
    background-color: $fill-tint2-primary;
    color: white;
    padding: $size-m;
    border-radius: 4px;
    display: none;
    & h3 {
      margin: 0;
    }
    & p {
      margin: $size-xs 0 0 0;
      color: rgba(255, 255, 255, 0.8);
    }
  }
  & p {
    font-size: 1.4rem;
    font-weight: bold;
  }
}

#active-player-name {
  color: $text-tint2;
}

#game-board {
  margin: 1rem auto;
  padding: 0;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 6rem); //same as 6rem 6rem 6rem
  grid-template-rows: repeat(3, 6rem);
  gap: 0.5rem;
  & li {
    list-style: none;
    background-color: $fill-surface;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    &:hover {
      background-color: $fill-tint2-secondary;
    }
    &.disabled {
      cursor: default;
      background-color: $fill-tint2-secondary;
      color: $text-tint2;
    }
  }
}
