@import "../shared.scss";

.warning {
  border: 1px solid $text-tint1 !important;
  background-color: $fill-tint1-secondary;
  color: $text-tint1;
}

.error {
  border: 1px solid red !important;
  background-color: rgb(255, 191, 191);
  color: red;
}

div {
  text-align: left;
  background-color: white;
  margin: $size-m;
  padding: $size-m;
  box-shadow: $shadow;
  border-radius: $size-s;
}

button {
  margin: 0;
}
